---
BasedOnStyle: LLVM
BreakConstructorInitializers: BeforeComma
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: 'Yes'
ColumnLimit: '120'
CompactNamespaces: 'false'
Cpp11BracedListStyle: 'true'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: None
SortIncludes: 'true'
Standard: Cpp11
IndentWidth: '4'
UseTab: Never

